@media screen and (max-width:991px) {
   .bgBlue {
      display: none;
   }
}

@media screen and (min-width: 768px) and (max-width:991px) {
   .main_menu {
      text-align: center;
   }
}

@media screen and (max-width:991px) {


   .slider_content1 h1,
   .slider_content2 h1 {
      font-size: 50px;
   }

   .slider_content2 {
      position: absolute;
      top: 30%;

   }

   #banner .owl-nav .owl-prev,
   #banner .owl-nav .owl-next {
      display: none;
   }
}

@media screen and (min-width:576px) and (max-width:767px) {

   
.slider_content1{
   position: absolute;
   top: 50%;
   left: 100px;
   color: white;
   transform: translateY(-50%);
}
.slider_content1 h1{
   font-size: 45px !important;
   font-weight: bold;
}
.slider_content2 h1{
   font-size: 50px;
}
.slider_content2{
   width: 100%;
   text-align: center;
   position: absolute;
   top: 30%;
   left: 50%;
   color: white;
   transform: translate(-50%);
}
.container .about_info{
   margin-left: 0;
}
}

@media screen and (min-width:0px) and (max-width:575px) {

   .slider_content1 img{
      width: 100%;
   }
   .slider_content1{
      position: absolute;
      top: 45%;
      left: 50px;
      color: white;
      transform: translateY(-50%);
   }
   .slider_content1 h5{
      font-size: 10px;
   }
   .slider_content1 p{
      font-size: 10px;
      line-height: 10px;
   }
   .slider_content1 h1{
      font-size: 24px !important;
      font-weight: bold;
   }
   .slider_content2 h1{
      font-size: 20px;
   }
   .slider_content2{
      width: 100%;
      text-align: center;
      position: absolute;
      top: 20%;
      left: 50%;
      color: white;
      transform: translateX(-50%);
   }
   .slider_content2 .btn_theme{
      position: absolute;
      left: 50%;
   }
   .slider_content2 h5{
      font-size: 10px;
   }
   .slider_content2 h1{
      font-size: 24px !important;
      font-weight: bold;
   }
   .slider_content2 p{
      font-size: 10px;
      line-height: 10px;
   }
   
   }